body {
  margin: 0;
  padding: 0;
  background: transparent;


}

.conteiner {
  max-width: 1200px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
   color: white;
  text-align: center;
margin: 0 auto;
}
.conteiner > h1, .conteiner > h2 {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0,.7);
  max-width: 400px;
  margin: 10px auto;
}
.conteiner > h1 {
  margin: 0 auto 10px;
}
.photo {
  max-width: 600px;
  height: 400px;
  background: url('img/top-header.jpg') 50%/cover no-repeat;
  border: 10px solid white;
  margin: 0 auto;
}
.metro_photo {
  width: 400px;
  height: 300px;
  background: url('img/guitar.jpg')50%/cover no-repeat;
  margin: 0 10px 0 0;
}
.metro_about {
  text-align: left;
  width: 400px;
  background-color:rgba(0, 0, 0,.5);
  padding: 1rem;

}
.metro_about > p {
  margin: 0;
}
.metro {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 30px auto;
}
.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about_photo_1 {
  width: 250px;
  height: 250px;
  background: url('img/food.jpg') 50%/cover no-repeat;
  margin: 10px;
}

.about_photo_2 {
  width: 250px;
  height: 250px;
  background: url('img/guitar.jpg') 50%/cover no-repeat;
  margin: 10px;
}
.about_photo_3 {
  width: 250px;
  height: 250px;
  background: url('img/hiking.png') 50%/cover no-repeat;
  margin: 10px;
}
.about_photo_4 {
  width: 250px;
  height: 250px;
  background: url('img/romantic.jpg') 50%/cover no-repeat;
  margin: 10px;
}
.about_photo_5 {
  width: 250px;
  height: 250px;
  background: url('img/tent-camp.jpg') 50%/cover no-repeat;
  margin: 10px;
}
.about_photo_6 {
  width: 250px;
  height: 250px;
  background: url('img/campfire.jpg') 50%/cover no-repeat;
  margin: 10px;
}









